<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main>
      
      <ul class="search-results">

        <li data-address-id="<%= walkScoreInfo[0].address %>"> 
          <div class="property-container">
            <section>
              <h4>Address Info</h4>
              <% if (walkScoreInfo[0].address) { %>
              <p class="streetAddress"> Street Address: <%= walkScoreInfo[0].address %></p>
              <% } %>
              <% if (walkScoreInfo[0].city) { %>
              <p class="city"> City: <%= walkScoreInfo[0].city %></p>
              <% } %>
              <% if (walkScoreInfo[0].state) { %>
              <p class="state"> State: <%= walkScoreInfo[0].state %></p>
              <% } %>
              <% if (walkScoreInfo[0].zip) { %>
              <p class="zip"> Zip Code: <%= walkScoreInfo[0].zip %></p>
              <% } %>
              <% if(neighborhood !=='Unknown') { %>
              <a class="neighborhood" href="https://www.walkscore.com/WA/<%= walkScoreInfo[0].city %>/<%= neighborhood %>">Neighborhood: <%= neighborhood %></a>
              <% } %>
              <h4>WalkScore Info</h4>
              <span>lat: <%= walkScoreInfo[1].snapped_lat %> lon: <%= walkScoreInfo[1].snapped_lon %></span>
              <p class="walk-score-rating"> WalkScore Rating: <%= walkScoreInfo[1].walkscore %></p>
              <p class="walk-score-desc">WalkScore Description: <%= walkScoreInfo[1].description %></p>
              <img src="<%= walkScoreInfo[1].logo_url %>"/>
              <img src="<%= walkScoreInfo[1].more_info_icon %>"/>
              <span>
                  <a href="<%= walkScoreInfo[1].more_info_link %>"> More Info </a>
                  <a href="<%= walkScoreInfo[1].ws_link %>"> Address WalkScore Details </a>
              </span>
            </section>
          </div>
        </li>

      </ul>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>