<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
    <div id="page-header">
      <h2>Login Status</h2>
    </div>
    <div id="address">
      <p id="localStorageEmail" class="hide-me"><%= email %></p>
      <% if (userId) { %> 
      <p id="userId" class="hide-me"><%= userId %></p>
      <% } %>
      <% if (message) { %>
      <strong><em><%= message %></em></strong>
      <br><br>
      <% } %>
      <% if (login_required) { %>
        <form id="login" action="/login" method="post">
          <p>
            <input id="user-email" class="hide-me" type="text" name="email" value= <%= email %> >
          </p>
          <p>
            <button class="show-me" name="submit_button" type="submit">Login</button>
          </p>
        </form> 
      <% } else { %>
        <a class="ghost-button" href="/address">Search</a>
      <% } %>
    </div>
    <%- include('../partials/footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      $(function() {
        const myEmail = $('#localStorageEmail').text();
        const userId = $('#userId').text();
        console.log({myEmail}, {userId});
        localStorage.setItem('user_email', myEmail);
        localStorage.setItem('userId', userId);
      });
    </script>
  </body>
</html>