<!DOCTYPE html>
<html>
  <%-include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
      <ul>
<h3 id="savedSearch-head">Saved Searches</h3>
        <div id="savedSearch">
        <li>WalkScore: <%= search[5] %> </li>
        <li>WalkScore Explanation: <%= search[6] %> </li>
        <li><strong><a href= <%= search[7] %>>WalkScore Details</a></strong></li>
        <% if(search[0]) { %>
        <li>Address: <%= search[0] %></li>
        <% } %>
        <li>City: <%= search[2] %></li>
        <% if(search[1]) { %>
          <li>Zip: <%= search[1] %></li>
          <% } %>
        </ul>
      </ul>
      <p>
        <strong><em><%= message %></em></strong>
      </p>
      <p>
        <a id='return-to-address-search' href='/address'>Return to Address Search</a>
      </div>     
      </p>
    <%- include('../partials/footer') %>
  </body>
</html>